.postContent {
  border-bottom: 1px solid #dfdfdf;
  border-right: 0;
  border-left: 0;
  padding: 2.5rem 20px;
}

.postContent:first-child {
  border-top: 1px solid #dfdfdf;
}

@media (min-width: 650px) {
  .postContent {
    padding: 25px;
    border: 1px solid #dfdfdf;
    border-radius: 8px;
    margin: 0 20px 3rem;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.05);
  }
}

.postContent_header {
  margin: 0;
  padding: 0;
  font-size: 1.125rem;
  font-weight: 700;
}

.postContent_text {
  line-height: 1.75;
}

.postContent_media {
  width: 100%;
  display: block;
}

.postContent_video {
  cursor: pointer;
}

.postContent_mediaContainer {
  position: relative;
  margin-bottom: 1rem;
  border-radius: 6px;
  overflow: hidden;
}

.postContent_videoPlayBtn {
  margin-bottom: 10px;
}

.postContent_videoControl {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(60, 60, 60, 0.85);
  border-radius: 6px;
  padding: 20px 30px;
  color: #fff;
  font-size: 1.1rem;
}

.postContent_publishDate {
  margin-top: 20px;
  padding-top: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 0.875rem;
  position: relative;
}

.postContent_publishDate:after {
  content: '';
  position: absolute;
  top: 0;
  border-top: 1px solid #ddd;
  width: 35px;
  left: 0;
}
