.postHeader {
  font-size: 1.9rem;
  font-weight: 800;
  margin-bottom: 2.7rem;
  padding: 0 20px;
  display: flex;
}

.postHeader_logo {
  width: 32px;
  margin-right: 0.875rem;
  display: block;
}

.postHeader_link {
  color: var(--fontColor);
  text-decoration: none;
}
