.post_returnLink {
  padding: 0 20px;
  text-decoration: none;
  color: var(--accentColor);
  display: flex;
  font-weight: 500;
  align-items: center;
  margin-bottom: 2rem;
}

.post_returnIcon {
  margin-right: 5px;
}
