.blogHeader {
  margin: 2.625rem 20px;
  display: flex;
}

.blogHeader_text {
  font-size: 2.75rem;
  font-weight: 900;
  margin: 0;
  padding: 0;
}

.blogHeader_link {
  color: var(--fontColor);
  text-decoration: none;
}

.blogHeader_logo {
  width: 50px;
  margin-right: 1rem;
}

.blogDescription {
  margin: 0 0 2.625rem;
  padding: 0 20px;
  line-height: 1.75;
}
